html {
  background-image: url(download.png);
}
title {
  color: white;
}
body {
    width: 90%;
    background-color: burlywood;
    margin-right: auto;
    margin-left: auto;
  }
h1, h2, h3 {
  text-align: center;
  color: white;
}
p {
  color: white;
  text-align: left;
  width: 50%;
  font-size: 25px;
}
imgsrc {
  text-align: right;
  width: 50%;
imgsrc, p, figcaption{
display: inline-block;
}
  figcaption {
    color: white;
  }
