html {
  background-image: url(download.png);
}
body {
    width: 80%;
    background-color: burlywood;
    margin-right: auto;
    margin-left: auto;
  }
h1, h2, h3 {
  text-align: center;
}
p {
  text-align: left;
}
